body{
    background: #252627;
    margin: 0 auto;
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
}

.page{
	height: 100vh;
	max-width: 1920px;
	min-width: 320px;
}

.side-header{
    
	display: inline-block;
	width: 5%;
	height: 100%;
	display: none;
	background: #181818;
	text-align: center;
}

.top-header {
	width: 100%;
	height: 15%;
	display: block;
	background: #181818;
}
.side-header nav {
	margin-top: 100px;
}

.side-header nav a{
	display: block;
	font-size: 30px;
	padding-bottom: 30px;
	color: #4d4d4e;
	text-decoration: none;
	outline: hidden;
}
.side-header nav a:hover, .top-header nav a:hover {
    -webkit-transform: scale(1.2,1.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.2,1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}
.top-header nav {
	margin-left: 15%
	width: 80%;
	margin-left: 10px;
}

.top-header nav a{
	width: 30%;
	display: inline-block;
	font-size: 30px;
	text-align: center;
	color: #4d4d4e;
	text-decoration: none;
}

.top-header .current{
	display: inline-block;
	width: 30%;
	text-align: center;
}
.header nav .current a{
	color: #f83748;
}
.header nav {
	padding-top: 30px;
}
.header nav .fa-facebook{
	display: none;
}
.header nav a:hover{
	color: #f83748;
}

.page{
	width: 100%;
	overflow: hidden;
	
}
.gallery{
	display: block;
	width: 100%;
	height: 85%;
	

}

.gallery .work {

	width: 49%;
	height: 33%;
   text-align: center;
   padding-top: 100px;
   display: inline-block;
	position: relative;


}
.gallery .work a{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	 color: #FFF;
	text-decoration: none;
}
.gallery .work a img{
	width: 100%;
	height: 100%;
	display: block;

}

.gallery .work:hover a{
    opacity: 0.1;
}

.gallery .work:hover .circle{
   display: block;

}


.gallery .work .circle{
	width: 100px;
	display: inline-block;
	padding: 40px 0px;
	margin-top: 0px;
	margin-left: 160px; 
	background: #f83748;
	border-radius: 50%;
	display: none;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: 50%;
	margin-left: -50px;
	z-index: 99;
	color: #fff;
	animation-name: circlepop;
 
    animation-direction: normal;
      animation-duration: 0.5s;
      animation-delay: 0.2s;
}
@keyframes circlepop{
    0%{
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	
	100%{
		-webkit-transform: scale(1.5);
		        transform: scale(1.5);
	}

}

.intro-block{
	display: block;
	width: 100%;
	height: 85%;
	position: relative;


}
.intro-block .text{
	
	margin-left: 15%;
	width: 70%;
	margin-top: 100px;
}
.bg{
	width: 100%;
	height: 100%;
	background: url(../img/bgb.jpg) no-repeat;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
	opacity: 0.3;

}
.text {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

}

.intro-block .text h1{
	color: #f83748;
	font-size: 30px;
	font-weight: bold;

}
.intro-block .text h2{
	color: #ccc;
	font-size: 12px;

}
.intro-block .text p{
	color: #fff;
	font-size: 12px;

}
.intro-block .text .btn {
	margin-top: 20px;
	
}
.intro-block .text .btn a{

	color: #f83748;
	border: 1px solid #f83748;
	border-radius: 4px;
	text-decoration: none;
	padding: 10px 20px;
}
.intro-block .text .btn a:hover{
	background: #f83748;
	color: #181818;
}
.contact-block {
	display: block;
	width: 100%;
	height: 85%;
	position: relative;
	
	
}
.contact-block .text{
	
	margin-left: 15%;
	width: 70%;
	margin-top: 100px;
}

.contact-block .text h1{
	color: #f83748;
    font-size: 30px;
    font-weight: bold;
}

.contact-block .text p{
	color: #fff;
	font-size: 12px;

}
.contact-block .text h2{
	color: #ccc;
	font-size: 12px;

}
.contact-block .text span{
	color: #f83748;
	font-size: 13px;

}
.contact-block .text a{
	color: #f83748;
	font-size: 20px;
	text-decoration: none;
	line-height: 30px;
	padding-right: 20px;
	margin-left: 20px;

}
.contact-block .text a:hover{
    -webkit-transform: scale(2.2,2.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(2.2,2.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

